<div id="menu">
  <div class="menu-item" id="logo">
    <i class="fa fa-book" aria-hidden="true"></i>
    <span *ngIf="!creds.loggedIn">Book Trading</span>
    <span *ngIf="creds.loggedIn">
      {{ creds.user.username }}<a [routerLink]="['/settings']"><i id="settings" class="fa fa-cog" aria-hidden="true"></i></a>
    </span>
  </div>
  <a [routerLink]="['/']"><div class="menu-item">All Books</div></a>
  <a [routerLink]="['/my-books']"><div class="menu-item" *ngIf="creds.loggedIn">My Books</div></a>
  <a [routerLink]="['/log-in']"><div class="menu-item" *ngIf="!creds.loggedIn">Log In</div></a>
  <a [routerLink]="['/sign-up']"><div class="menu-item" *ngIf="!creds.loggedIn">Sign Up</div></a>
  <div class="menu-item" *ngIf="creds.loggedIn" (click)="logout()">Log Out</div>
</div>
<router-outlet></router-outlet>
<div id="divider"></div>
<attribution></attribution>