@import '../shared/common-styles';

#signup {
  position: relative;
  top: 40px;
  width: 275px;
  font-family: 'Raleway';
  margin: 0 auto;
}

#button-area {
  margin-top: 20px;
  height: 150px;
  .button {
    margin-bottom: 10px;
  }
}