@import '../shared/common-styles';

#settings {
  text-align: center;
  font-family: 'Raleway';
}

.button {
    display: block;
    width: 120px;
    margin: 0 auto;
    margin-top: 20px;
}